<div>
  <h1>CI Taxi</h1>
  <nav>
    <a routerLink="/order-form" routerLinkActive="active">Order a taxi</a>
    <a routerLink="/orders" routerLinkActive="active">List orders</a>
  </nav>
  <router-outlet></router-outlet>
</div>