<div class="container">
  <h1>Order Form</h1>
  <form #orderForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="departure">Departure</label>
      <input type="text" class="form-control" id="departure" required
        [(ngModel)]="model.departure" name="departure" #departure="ngModel">
      <div [hidden]="departure.valid || departure.pristine" class="alert alert-danger">
        Departure is required
      </div>
    </div>

    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" required
        [(ngModel)]="model.destination" name="destination" #destination="ngModel">
      <div [hidden]="destination.valid || destination.pristine" class="alert alert-danger">
        Destination is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">
      Place order
    </button>

  </form>
</div>